body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1135;
    color: #fff;
    overflow-x: hidden; /* Remover rolagem horizontal */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #22124a;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-left: 20px; /* Move o texto um pouco para a direita */
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.nav-links a:nth-child(3) {
    margin-right: 30px; /* Move o "Login" um pouco para a esquerda */
}

.main-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #321b61;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Ajustar largura */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

.text-content {
    max-width: 600px;
}

.hashtag {
    display: inline-block;
    background-color: #5d44b8;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #1a1135;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.image-content img {
    width: 350px;
    border-radius: 10px;
    max-width: 100%; /* Garante que a imagem não exceda a largura */
}

/* RESPONSIVIDADE */

/* Para telas menores, como tablets e smartphones */
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .text-content, 
    .image-content img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 20px;
    }

    .nav-links a {
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .main-content {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .header h1 {
        font-size: 18px;
    }

    .nav-links a {
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }

    .main-content {
        padding: 10px;
    }

    .image-content img {
        width: 100%;
    }
}
